# fly.toml app configuration file generated for pokedex-6722 on 2025-12-12T17:53:29-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'pokedex-6722'
primary_region = 'yyz'

[env]
  PORT = "3000"

[deploy]
  strategy = "canary"

[processes]
  app = "node app.js"

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024

[[http_service.checks]]
  grace_period = "10s"
  interval = "30s"
  method = "GET"
  timeout = "5s"
  path = "/health"